body {
	font-family: "Nunito", "Arial Rounded", "Helvetica Rounded", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.App-header {
	text-align: center;
	margin: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoText {
	font-size: 2rem;
	text-align-last: left;
	line-height: 2rem;
}

.logoText small {
	font-size: .8rem;
	font-weight: 400
}

.Main-container {
	display: flex;
	flex-wrap: wrap;
}

.App-footer {
	margin: 2rem 0;
	text-align: center;
}

.searchbox {
	border: 1px solid #ddd;
	padding: .5rem 1rem;
	width: 200px;
	border-radius: 7px;
}


input {
	font-size: 14px;
}

a.filter-btn {
	border: 1px solid #ddd;
	padding: .5rem 1rem;
	font-size: 14px;
	border-radius: 6px;
	text-decoration: none;
	color: #000;
}

a.filter-btn:hover {
	border-color: #aaa
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1024px) {
	.App {
		width: 960px;
		margin: 0 auto;
	}

}

/* Portrait and Landscape */
@media only screen and (max-width: 1024px) {
	.App {
		width: 100%;
		margin: 0 auto;
	}
}
